<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.dhx_.mapper.SpecialSqlMapper">

<!--    List<User> getUserByLike(@Param("ambiguous") String ambiguous);-->

    <select id="getUserByLike" resultType="User">
        <!--     select *from t_user where username like '%#{ambiguous}%';  这里如果 用#{} 就会被理解为？ 无法解析
        ，因为被'' 包裹了， 会被当成普通的字符串-->
  <!--      select *from t_user where username like concat('%',#{ambiguous},'%');   使用concat 函数-->
        select *from t_user where username like '%${ambiguous}%';
    </select>


<!--        void deleteMoreUser(@Param("ids") String ids);   // ids ； 107,108-->
    <delete id="deleteMoreUser" >
        delete from t_user where id in (${ids})
    </delete>
<!--    List<User> getUserList(@Param("tableName")String tableName);-->
    <select id="getUserList" resultType="User">
        select *from ${tableName};
    </select>

<!--    void insertUser(User user);
获取自增的主键
useGeneratedKeys 表示当前的添加功能使用了自增的主键， keyProperty 表示将添加的数据的自增主键赋值 > 为实体类 类型的参数的属性赋值-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(null,#{username},#{password},#{age},#{gender},#{email});
    </insert>

</mapper>
